@charset "UTF-8";

@font-face {
  font-family: "comuni-sardegna";
  src:url("fonts/comuni-sardegna.eot");
  src:url("fonts/comuni-sardegna.eot?#iefix") format("embedded-opentype"),
    url("fonts/comuni-sardegna.woff") format("woff"),
    url("fonts/comuni-sardegna.ttf") format("truetype"),
    url("fonts/comuni-sardegna.svg#comuni-sardegna") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "comuni-sardegna" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="comuni-"]:before,
[class*=" comuni-"]:before {
  font-family: "comuni-sardegna" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.comuni-three-bars:before {
  content: "a";
}
